.main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.imageContainer {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #00f6bb;
}

.formContainer {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #010040;
}
